article {
    height: 90vh;
    line-height: 1.25;
}

article h1 {
    font-size: 3rem;
    padding: 0;
    line-height: 0;
}

article h3 {
    font-size: 1.5rem;
    color: #555555;
}

article p {
    font-size: 1.2rem;
}

