figure {
    display: block;
    min-width: 250px;
    min-height: 249px;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: contain;
    background-color: white;
    align-self: baseline;
    overflow: hidden;
}

figure img {
    width: 100%;
    border-radius: 16px;
}

figure figcaption {
    text-align: center;
    font-weight: bolder;
    color: #333;
    padding: 6px 0;
}